/*【画面ID:10スタッフ一覧画面】*/

/* 1. ページ全体のコンテナ */
.attendance-list-page {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
}

.attendance-list__content {
    max-width: 900px;
    margin: 0 300px;
    margin-top: 110px;

}

/* 2. 見出し */
.title {
    border-left: 8px solid #000000;
    /* 左端だけに8pxの太さの線を引く */
    padding-left: 15px;
    /* 文字と左線の間に少しスキマを作る */
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 90px;
    color: #000000;
}

/* 3. テーブル全体のスタイル */
.attendance-list__table {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 50px;
    border-collapse: separate;
    /* 角丸を効かせるために重要！ */
    border-spacing: 0;
    /* セル同士の隙間をゼロにする */
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    /* 中身がはみ出さないようにする */
}

/* 左上の見出し（日付のところ）を丸める */
.attendance-list__table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

/* 右上の見出し（詳細のところ）を丸める */
.attendance-list__table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

/* 4. テーブルの見出し (th) */
.attendance-list__table th {
    background-color: #FFFFFF;
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    border-bottom: 3px solid #E1E1E1;
    text-align: center;
    color: #666;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.label {
    font-size: 16px;
    font-weight: 700;
    color: #737373;
    letter-spacing: 0.05em;
    font-family: 'Inter', sans-serif;
}

/* 5. テーブルのデータ行 (td) */
.attendance-list__table td {
    padding: 0 30px;
    line-height: 50px;
    height: 50px;
    border-bottom: 2px solid #E1E1E1;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
    font-family: 'Inter', sans-serif;
    vertical-align: middle;/* 真ん中に揃えるおまじない */
    text-align: center;
    letter-spacing: 0.15em;
}

/* 6. 詳細ボタン */
.detail-button {
    display: inline-block;
    padding: 5px 0px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
}

/* =========================
   ページネーション
========================= */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination .page-item {
    display: inline-block;
    margin: 0 5px;
}

.pagination .page-item a,
.pagination .page-item span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
}

/* 現在表示中のページ番号に紫色を付ける */
.pagination .page-item.active span {
    color: #fff;
    border-color: #000;
    background-color: #000;
    background-image: none;
}

/* ホバーした時（マウスを乗せた時）の動き */
.pagination .page-item a:hover {
    background-color: #f5f5f5;
    border-color: #999;
}