/* 全体のフォントをInterに指定 */
body {
    font-family: 'Inter', "Noto Sans JP", sans-serif;
}

/* ========== Header基盤 ========== */
.header {
    width: 100%;
    /* PC (1400-1540px)」で崩さないため、黒い背景色は画面の端から端まで伸びるよう設定 */
    background: black;
}

.header__inner {
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    /* 「PC (1400-1540px)」で崩さないため */
}

/* ========== ロゴマーク ========== */
.header__logo {
    height: 36px;
    width: auto;
}


/* ========== メインコンテンツエリア ========== */
.container {
    /* 画面の高さ(100vh)からヘッダー分(80px)を引いた高さの真ん中に置く */
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    /* 縦に並べる */
    justify-content: center;
    /* 垂直方向の真ん中 */
    align-items: center;
    /* 水平方向の真ん中 */
    text-align: center;
    /* テキストも中央揃え */
    padding: 0 20px;
}

/* ========== メッセージ ========== */
.main-message{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

/* ========== ボタンとリンクのエリア ========== */
.actions {
    display: flex;
    flex-direction: column;
    /* ボタンとリンクを縦に並べる */
    align-items: center;
    /* 中央揃え */
    gap: 20px;
    /* ボタンとリンクの間の「遊び」 */
    margin-top: 40px;
}

/* メインボタン(認証はこちらから) */
.actions__button-submit {
    display: block;
    /* 幅を指定するためにブロック化 */
    width: 257px;
    /* 好みの幅で精密に調整してね */
    background-color: #D9D9D9;
    color: #000000;
    text-decoration: none;
    /* 下線を消す */
    padding: 20px 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s;
    margin-bottom: 50px;
}

.actions__button-submit:hover {
    background-color: #a5a0a0;
}

/* 再送リンク */
.remail-link {
    color: #0073CC;
    font-size: 20px;
    text-decoration: none;
}